html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-image: url(/Imgs/background.jpg);
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#content {
  background: rgba(255, 255, 255, 0.8);
  width: 65%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.tablink {
  width: 33.33%;
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.tablink:hover{
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
  color: black;
  
}

.content {
  width: 100%;
  text-align: center;
}

.tab-content {
  display: none;
  
}

.tab-content.activate {
  display: block;
  margin: 1.5em auto;
  
}

.header {
  font-size: 3.5em;
}

.description {
  text-align: center;
  margin: 2em auto;
  padding: 2em;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.95);
  border: 7px solid black;
}

h2{
  text-decoration: underline;
  font-size: 2em;
}

.logo-pic.pics{
  width: 20%;
  border: 10px solid black;
  padding: .5em;
}

.pics {
  width: 30%;
}

.foodItems,
.drinksItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.item{
  /* border: 2px solid black; */
  width: 50%;
  background-color: rgba(255, 255, 255, 0.95);
  margin-bottom: 2em;
  border-radius: 2px;
}

